rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write their own documents
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow authenticated users to read and write their own checklists
    match /checklists/{checklistId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
    
    // Allow anyone to submit bug reports
    match /bugReports/{bugReportId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.token.admin == true);
    }
  }
}
