@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Masquer la barre de défilement pour WebKit */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Masquer la barre de défilement pour Internet Explorer */
  scrollbar-width: none; /* Masquer la barre de défilement pour Firefox */
}